<ion-view view-title="{{ title }}">
	<ion-content>
		<ion-list>
		<div class="row">
			<div class="col">
				<button ng-click="post(10)" class="button button-block ion-ios-person button-assertive" style="height: 86px; line-height: 24px;">
				<small><br />Εξυπηρέτηση οδηγού</small>
				</button>
			</div>
			<div class="col">
				<button ng-click="post(4)" class="button button-block ion-ios-pulse-strong button-energized" style="height: 86px; line-height: 24px;">
				<small><br />Ατύχημα</small>
				</button>
			</div>
			<div class="col">
				<button ng-click="post(5)" class="button button-block ion-ios-people button-calm" style="height: 86px; line-height: 24px;">
				<small><br />Υπερπληρότητα</small>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button ng-click="post(12)" class="button button-block ion-ios-time-outline button-royal" style="height: 86px; line-height: 24px;">
				<small><br />Συχνότητα</small>
				</button>
			</div>
			<div class="col">
				<button ng-click="post(13)" class="button button-block ion-ios-speedometer-outline button-balanced" style="height: 86px; line-height: 24px;">
				<small><br />Καθυστέρηση</small>
				</button>
			</div>
			<div class="col">
				<button  ng-click="post(7)" class="button button-block ion-social-tux button-dark" style="height: 86px; line-height: 24px;">
				<small><br />Άλλο</small>
				</button>
			</div>
		</div>
		</ion-list>
	</ion-content>
	<div class="row" style=" position: fixed; bottom: 20px;">
          <button class="button button-block button-balanced" ng-click="stop()">
            Τέλος
          </button>
        </div>
</ion-view>