<ion-view view-title="Con.Tran.S.S">
	<ion-content>
		<div class="row">
			<b>Είσαι level</b> <i>5</i><b>Ακόμα 500 xp για να ανέβεις level</b>
		</div>
		<div class="row">
			<b>Επισκέψεις λεοφωρείων τον τελυταίο μήνα</b> <i>20</i> km/h
		</div>
		<div class="row">
			<b>Επισκέψεις λεοφωρείων ανά ημέρα</b> <i>2</i>
		</div>
		<div class="row">
			<b>Συνολικός χρόνος εντός λεοφωρείου</b> <i>03</i>:<i>45</i>
		</div>
		<div class="row">
			<b>Χιλίομετρα τον τελευταίο μήνα</b> <i>60</i> Km
		</div>		
	</ion-content>
	<div class="row" style=" position: fixed; bottom: 20px;">
		<div class="col">
			<a class="button button-block button-balanced" ng-click="ok()">
			OK
			</a>
		</div>
	</div>
</ion-view>