<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Badges</h1>
    	
      <div class="item item-avatar">
    	<img src="img/newbie.jpg">
    	<h2>Πρώτη φορά σε λεωφορείο</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="img/adventurer.jpg">
    	<h2>10 διαφορετικές γραμμές</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="img/explorer.jpg">
    	<h2>25 διαφορετικές γραμμές</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="img/superstar.jpg">
    	<h2>50 διαφορετικές γραμμές</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="img/local.jpg">
    	<h2>Μια εβδομάδα στο ίδο λεωφορείο</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="img/superuser.jpg">
    	<h2>Καθημερινή χρήση για ένα μήνα</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="img/farfaraway.jpg">
    	<h2>Καλως ήρθες στα προάστια</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="img/hangover.jpg">
    	<h2>Πάλι λιώμα είσαι</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="img/swimmies.jpg">
    	<h2>Θαλασσόλυκος</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="img/greatoutdoors.jpg">
    	<h2>Πειηγητής</h2>
   		</div>

    </ion-header-bar>
  </ion-modal-view>
